<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/metro")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-dark clear" data-role="appbar" data-expand-point="md">
        <a href="//Home/Index" class="brand no-hover" style="padding:0px;margin:5px">
            <img src="~/Content/Images/master.jpg" height="50" width="50" />
        </a>
        <ul class="app-bar-menu ml-auto fg-blue bg-dark text-bold">
            <li class="bg-lightYellow-hover fg-darkBlue-hover"><a href="/Home/Index">Home</a></li>
            <li class="bg-lightYellow-hover fg-darkBlue-hover"><a href="/Home/Login">Login</a></li>
            <li class="bg-lightYellow-hover border-none">
                <a href="#" class="dropdown-toggle fg-darkBlue-hover">Products</a>
                <ul class="v-menu border-none fg-blue border bd-dark" data-role="dropdown">
                    <li class="bg-dark bg-lightYellow-hover border-none fg-darkBlue-hover"><a href="#">Windows 10</a></li>
                    <li class="bg-dark bg-lightYellow-hover fg-darkBlue-hover"><a href="#">Office 365</a></li>
                    <li class="divider bg-yellow"></li>
                    <li class="bg-dark bg-lightYellow-hover fg-darkBlue-hover"><a href="#">Skype</a></li>
                </ul>
            </li>
            <li class="bg-lightYellow-hover fg-darkBlue-hover"><a href="#">Blog</a></li>
            <li class="bg-lightYellow-hover fg-darkBlue-hover"><a href="#">Contacts</a></li>
        </ul>
    </div>
    @RenderBody()
    

</body>
</html>
